dbt_instacart_demo:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "$SNOWFLAKE_ACCOUNT"
      user: "$SNOWFLAKE_USER"
      #password: "$SNOWFLAKE_PASSWORD"
      role: "$SNOWFLAKE_ROLE"
      database: "$SNOWFLAKE_DATABASE"
      warehouse: "$SNOWFLAKE_WAREHOUSE"
      schema: DBT_INSTACART_DEMO
      #authenticator: externalbrowser
      private_key_passphrase:  "$PASSPHRASE"
      reuse_connections: true
      private_key: "$PRIVATE_KEY"